# Archivos de Python
*.pyc
*.pyo
__pycache__/
*.log

# Archivos de bases de datos
db.sqlite3

# Carpetas de migraciones (puedes incluirlas en git si es necesario para tu equipo)
**/migrations/*

# Configuración de entornos virtuales locales
venv/
.env

# Configuración de Docker
*.pid
.env.docker

# Dependencias instaladas localmente
node_modules/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs/editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de compilación
dist/
build/

# Archivos de pruebas
temp.py